*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html, body{
    width: 100%;
    height: 100%;
}

.main{
    height: 100%;
    width: 100%;
    position: relative;
}

.nav{
    height: 100px;
    width: 100%;
    /* background-color: crimson; */
    /* border-bottom: 2px solid #dadada; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
}

.nav-part2{
    display: flex;
    gap: 4vw;
    align-items: center;
}

.nav h2{
    font-size: 1.5vw;
    font-weight: 700;
}

.nav-part2 h4{
    font-size: 1.1vw;
}

.nav i{
    
    flex-wrap: 800;
    display: none;
}

.nav button{
    font-size: 1vw;
    padding: 0.7vw 1.4vw;
    background-color: #FF735C;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: 600;
}

.content{
    width: 100%;
    height: calc(100% - 100px);
    display: flex;
    position: relative;
}
.left{
    height: 100%;
    width: 55%;
    padding: 5vw 5vw;
}

.left h1{
    font-size: 4.2vw;
    line-height: 4.4vw;
}

.left h1 span{
    color: #FF735C ;
}
.left p{
    font-size: 1.2vw;
    font-weight: 600;
    color: #666;
    width: 80%;
    margin-top: 1.5vw;
    margin-bottom: 3vw;
}

.content button{
    font-size: 1.2vw;
    padding: 1.1vw 2.1vw;
    background-color: #FF735C;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: 700;
}

.right{
    height: 100%;
    width: 45%;
}
.right img{
    height: 100%;
    width: 100%;
}





@media (max-width:600px) {
    .nav{
        background-color: lightseagreen;
        color: #fff;
        padding: 0 6vw;
        height: 60px;
    }
    .nav h2{
        font-size: 5.1vw;
    }
    .nav h4{
        font-size: 4.5vw;
        display: none;
    }
    .nav i{
        display: block;
        font-size: 6vw;
    }

    .nav button{
        display: none;
    }
    .content{
        height: calc(100% - 60px);
        flex-direction: column;
        
    }
    .left{
        width: 100%;
        height: 45%;
        padding: 4vw 6vw;
    }
    .right{
        width: 100%;
        height: 55%;
    }
    .left h1{
        font-size: 10vw;
        line-height: 11vw;
    }
    .left p{
        font-size: 3vw;
        width: 90%;
        margin-top: 5vw;
        margin-bottom: 6vw;
    }
    .content button{
        padding: 3vw 6vw;
        border-radius: 3px;
        font-weight: 600;
        font-size: 3.5vw;
    }
}